html, body {
	margin: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	background: #111111;
}

#tabs {
	display: flex;
	background: #333333;
}

.tab {
	flex: 1;
	text-align: center;
	padding: 10px;
	color: white;
	cursor: pointer;
	user-select: none;
}
.tab.active {
	background: #555555;
	font-weight: bold;
}

.panel {
	flex: 1;
	display: none;
	height: 100%;
	overflow: auto;
}
.panel.active {
	display: block;
}

#source {
	width: 100%;
	height: 100%;
}

#output > pre {
	padding: 10px;
	color: #ffffff;
	font-size: 14px;
}

#flags {
	color: #ffffff;
	background: #222222;
	border: 0;
	padding: 0;
	height: 2em;
	width: 100%;
}

#lang-select, #compiler-select, #short-link {
	height: 2em;
	display: block;
}
